html {
    font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
    overflow-y: scroll;
    color: #555555;
}

body {
    padding-top: 50px;
}

    body .container-fluid {
        position: relative;
    }

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
    border: 0;
}

.sidebar {
    display: none;
    height: 100%;
}

@media (min-width: 768px) {
    .sidebar {
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

    .nav-sidebar > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 0px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: #428bca;
    }

    .nav-sidebar > li > a > span {
        margin-top: 4px;
    }


.nav-sub {
    padding-right: -21px;
    margin-bottom: 5px;
    padding-left: 20px;
}

    .nav-sub > li {
        height: 25px;
    }

        .nav-sub > li > a {
            padding-top: 0px;
            padding-bottom: 0px;
            padding-right: 20px;
            padding-left: 20px;
            line-height: 25px;
            height: 25px;
            color: #555555;
        }

    .nav-sub > .active > a,
    .nav-sub > .active > a:hover,
    .nav-sub > .active > a:focus {
        color: #fff;
        background-color: #c9c9c9;
    }

    .nav-sub > li > a .label-holder {
        margin-top: -2px;
    }

        .nav-sub > li > a .label-holder span {
            margin-left: 2px;
        }

.page-title {
    margin-top: 3px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 18px;
    height: 18px;
    width: 80%;
}

.sub-page-title {
    margin-top: 3px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 18px;
    height: 18px;
    width: 72%;
}

#main {
    padding: 20px;
    position: relative;
}

@media (min-width: 768px) {
    #main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

#main .page-header {
    margin-top: 0;
}

#main .page {
    margin-bottom: 30px;
    padding: 30px 2%;
}

#main .inner-tab-pane {
    margin-bottom: 5px;
    padding: 15px 2%;
}

    #main .inner-tab-pane .graph {
        margin: auto;
        min-width: 310px;
        max-width: 600px;
    }

    #main .inner-tab-pane .center {
        text-align: center;
    }

    #main .inner-tab-pane .graph-pane {
        margin: 10px 0px;
        padding: 10px 0px;
    }

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
}
